/AlreadyExistsException.class
/AlreadyInitializedException.class
/InvalidValueException.class
/MisplacedCharException.class
/VarAlreadyExistsException.class
/AssignToUnAssignedException.class
/NoValueForFinalVarException.class
/AssignToUnDeclaredException.class
/AssignToUndeclaredException.class
/AssignmentToFinalException.class
/TypeAssignmentException.class
/IleagalBracketsException.class
/UnexpectedLineException.class
/MessageException.class
/VarNotExistsException.class
/DoubleDeclarationException.class
/NoReturnStatementException.class
/IlegalAssignmentException.class
/MethodDoesntExistsException.class
/ParamsDoesntMatchException.class
/NotInitializedAssignException.class
